# python stuff
__pycache__
*.pyc

# build folder
build/

# mac os file system
.DS_Store

# patches
*.diff
/dist
*.egg-info

# testing
.coverage*
/htmlcov
*.prof
*.vscode
public

doc/cov
doc/build
doc/source/*.rst
!doc/source/index.rst
!doc/source/modules.rst