# This workflow checks for compliance with:
# - *.cpp/*.h files (clang-format, .clang-format)
# - *.json (Prettier, .prettierrc)
name: Codechecks
on: [push, pull_request]
jobs:
  code-format:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          brew install clang-format
          brew install npm
          npm init -y
          npm install prettier
      - name: Run clang-format
        run: |
          mkdir Release
          cd Release
          cmake ..
          make codecheck
