# This workflow builds and tests svZeroDPlus. It is built and tested on
# different versions of ubuntu and macOS.
name: Build and test
on: [push, pull_request]
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04, macos-11, macos-12]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - name: Install ubuntu dependencies
        if: startsWith(matrix.os, 'ubuntu')
        run: sudo apt update && sudo apt install build-essential cmake lcov
      - name: Install svZeroDPlus
        run: |
          conda create -n zerod python=3.11.4
          conda run -n zerod pip install -e ".[dev]"
      - name: Test the build
        run: |
          cd tests
          conda run -n zerod pytest -v --durations=0
      - name: Build using CMake
        run: |
          mkdir Release
          cd Release
          cmake -DCMAKE_BUILD_TYPE=Release -DENABLE_DISTRIBUTION=ON ..
          cmake --build .
      - name: Test interface
        run: |
          cd tests/test_interface
          mkdir build_tests
          cd build_tests
          cmake ../
          make
          cd test_01
          ./svZeroD_interface_test01 ../../../../Release ../../test_01/svzerod_3Dcoupling.json
          cd ../test_02
          ./svZeroD_interface_test02 ../../../../Release ../../test_02/svzerod_tuned.json
      - name: Generate code coverage
        if: startsWith(matrix.os, 'ubuntu-22.04')
        run: |
          cd Release
          cmake -DENABLE_COVERAGE=ON ..
          cmake --build .
          cd ../tests
          conda run -n zerod pytest -v --durations=0 --coverage
          cd ../Release
          make coverage
      - name: Save coverage report
        if: startsWith(matrix.os, 'ubuntu-22.04')
        uses: actions/upload-artifact@v3
        with:
          name: coverage_report
          path: Release/coverage
      - name: Build installer
        run: |
          cd Release
          cpack
          cp distribution/svZeroDPlus_* ..
      - name: Upload installer
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.os }} installer
          path: svZeroDPlus_*
          if-no-files-found: error